.App {
  text-align: center;
  min-width: 360px;
}

.App > .body {
  margin: 20px;
  text-align: left;
}

.item {
  margin-bottom: 20px;
}

.addItem {
  position: fixed;
  right: 20px;
  bottom: 20px;
}