.App {
  text-align: center;
  min-width: 360px;
}

.App > .body {
  margin: 20px;
  text-align: left;
}

.item {
  margin-bottom: 20px;
}
.comment {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.addItem {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.notFound {
  font-family: Roboto, sans-serif;
  text-align: center;
  height: 100%;
  font-size: 20px;
  color: gray;
}